$color-primary-old: #df241d;
$color-primary: #df241d;
$color-primary-old-gen: #973943;
$color-primary: #cb2a27;
$color-background-dark-2: #1b1b1f;
$color-background-dark: #0f0f11;
$color-background: #232329;
