.wagon-view {
  max-width: 80vw;
  min-width: 80vw;
  overflow: hidden;

  td {
    padding: 0.4rem;
  }
  .btn {
    padding: 0;
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .spacer {
    height: 1.5rem;
  }
}
