.alert {
  background-color: tomato;
  // color: $color-background-dark;
  color: #721c24;
  font-size: 1.6rem;
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem;
  border: 1px solid #f5c6cb;
  margin-bottom: 1rem;
}
