.btn {
  border: none;
  padding: 1.5rem 3rem;
  cursor: pointer;
  display: block;
  width: 100%;
  &--primary {
    background-color: $color-primary;
    color: #fff;
    border-radius: 3px;
    text-transform: uppercase;
  }
}
