.form__input {
  padding: 1.5rem 3rem;
  border: none;
  /* background-color: #27272d; */
  background-color: $color-background-dark-2;
  border-radius: 3px;
  color: #fff;
  font-size: 1.4rem;
  text-transform: uppercase;
}
