@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");

/* *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Nunito, sans-serif;
} */

.home {
  height: 100vh;
}
